* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--size: 0.625rem;
	/* 
	calc(var(--size)*1)
	*/
}
.Frame_ShowPassword {
	.container {
		width: 100%;
		height: 100%;
		background: #201f21;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.input-box {
		width: calc(var(--size) * 25);
		max-width: 90%;
		position: relative;
	}
	.input-box input {
		width: 100%;
		height: calc(var(--size) * 3.75);
		padding: 0 calc(var(--size) * 1.25);
		border: 1px solid #ccc;
		outline: none;
		color: #fff;
		background: transparent;
	}
	button {
		background: transparent;
		border: 0;
		outline: none;
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
		top: 50%;
		cursor: pointer;
		transform: translateY(-50%);
		right: calc(var(--size) * 1);
	}
	button img {
		width: calc(var(--size) * 2.1875);
	}
	#message {
		position: absolute;
		bottom: calc(var(--size) * (-1.875));
		color: #fff;
		font-size: calc(var(--size) * 1);
		display: none;
	}
	::placeholder {
		font-size: calc(var(--size) * 1.3);
	}
}

/* @media (min-width: 1024px) {
	:root {
		--size: 1rem;
	}
}
@media (min-width: 750px) and (max-width: 1024px) {
	:root {
		--size: 0.8rem;
	}
}
@media (min-width: 400px) and (max-width: 750px) {
	:root {
		--size: 0.625rem;
	}
}
@media (max-width: 400px) {
	:root {
		--size: 0.4rem;
	}
} */
