#about {
	height: calc(100vh - 10rem);
	width: 100vw;
	max-width: 85rem;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;

	.about-img {
		width: 50%;
		overflow: hidden;
		position: relative;
		margin: 3rem;
		border-radius: 0.5rem;
		box-shadow: 0 0 1.5rem rgb(80, 80, 80);
		.backAbout {
			position: absolute;
			display: block;
			width: 39px;
			top: 45%;
			left: 0;
			z-index: 1;
			color: rgb(255, 255, 0);
			filter: drop-shadow(10px 10px 20px rgb(135, 172, 59));
			font-size: 4rem;
			margin-left: 1rem;
			cursor: pointer;
		}
		.nextAbout {
			position: absolute;
			display: block;
			width: 39px;
			top: 45%;
			right: 0;
			z-index: 1;
			color: yellow;
			filter: drop-shadow(10px 10px 20px rgb(135, 172, 59));
			font-size: 4rem;
			margin-left: 1rem;
			cursor: pointer;
		}
		div::-webkit-scrollbar {
			display: none;
		}
		div {
			width: 100%;
			display: flex;
			overflow: hidden;
			/* margin: 3rem; */
			border-radius: 0.5rem;
			overflow-x: scroll;

			.portpolio-box {
				flex: none;
				width: 100%;
				overflow: hidden;
				position: relative;
			}
			.portpolio-box img {
				width: 100%;
				transition: 0.5s ease;
				object-fit: cover;
				box-sizing: border-box;
			}
			.portpolio-box {
				position: relative;
			}
			.portpolio-box .portpolio-layer {
				transform: scale(0);
				position: absolute;
				bottom: 100px;
				left: 15%;
				width: 70%;
				box-shadow: 0 0 2rem rgb(80, 80, 80);
				background: rgba(0, 0, 0, 0.75);
				color: var(--white-color);
				display: flex;
				text-align: center;
				flex-direction: column;
				padding: 2rem;
				opacity: 0;
				transition: 0.5s ease;
			}
			.portpolio-box:hover .portpolio-layer {
				opacity: 1;
				transform: scale(1);
			}
			.portpolio-box .portpolio-layer h4 {
				font-size: 1.5rem;
			}
			.portpolio-box .portpolio-layer p {
				font-size: 0.9rem;
				margin: 0.3rem 0 1rem;
			}
			.portpolio-box .portpolio-layer a {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 5rem;
				height: 5rem;
				background: var(--white-color);
				border-radius: 50%;
			}
			.portpolio-box .portpolio-layer a i {
				font-size: 2rem;
				color: #333;
			}
		}
	}

	.about-content {
		flex: 1;
	}
	.about-content .heading {
		text-align: left;
		font-size: 4.5rem;
		line-height: 1.2;
		background: linear-gradient(120deg, #707070 5%, var(--color));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.about-content p {
		margin: 2rem 0 3rem;
	}
}
