* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--size: 0.625rem;
	/* 
	calc(var(--size)*1)
	*/
}
.Frame_RandomPassword {
	background: #002339;
	color: #fff;
	.container {
		margin: 12%;
		width: 90%;
		max-width: calc(var(--size) * 43.75);
	}
	.display {
		width: 100%;
		margin-top: calc(var(--size) * 3.125);
		margin-bottom: calc(var(--size) * 1.9);
		background: #fff;
		color: #333;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: calc(var(--size) * 1.6) calc(var(--size) * 1.25);
		border-radius: 5px;
	}
	.container h1 {
		font-weight: 500;
		font-size: calc(var(--size) * 2.8125);
	}
	.container h1 span {
		color: #019f55;
		border-bottom: calc(var(--size) * 0.25) solid #019f55;
		padding-bottom: calc(var(--size) * 0.45);
	}
	.display img {
		width: calc(var(--size) * 1.9);
		cursor: pointer;
	}
	.display input {
		border: 0;
		outline: 0;
		font-size: calc(var(--size) * 1.5);
	}
	.container button {
		border: 0;
		outline: 0;
		background: #019f55;
		color: #fff;
		font-size: calc(var(--size) * 1);
		font-weight: 300;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: calc(var(--size) * 1) calc(var(--size) * 1.5);
		border-radius: 5px;
		cursor: pointer;
	}
	.container button img {
		width: calc(var(--size) * 2);
	}
}
/* @media (min-width: 1024px) {
	:root {
		--size: 1rem;
	}
}
@media (min-width: 750px) and (max-width: 1024px) {
	:root {
		--size: 0.8rem;
	}
}
@media (min-width: 400px) and (max-width: 750px) {
	:root {
		--size: 0.625rem;
	}
}
@media (max-width: 400px) {
	:root {
		--size: 0.4rem;
	}
} */
