.frame {
	width: 23%;
	height: 14rem;
	background-color: #ececec;
	box-sizing: border-box;
	margin-bottom: 30px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-one {
	.btn {
		border: none;
		padding: 0.75rem 2rem;
		font-size: 1.1rem;
		transition: all 3s ease;
		background-color: #222;
		border-radius: 5px;
		font-weight: 500;
		color: white;
		cursor: pointer;
		transition: all 1.5s ease;
	}
	.btn:hover {
		background-color: #6b6a6a;
	}
}
.btn-two {
	.btn {
		display: inline-block;
		position: relative;
		border: none;
		padding: 0.5rem 2rem;
		font-size: 1.3rem;
		background: transparent;
		border-radius: 5px;
		font-weight: 500;
		color: rgb(39, 37, 37);
		cursor: pointer;
		transition: all 3s ease;
		z-index: 1;
		font-weight: bold;
	}
	.btn::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: rgb(123, 123, 70);
		transition: all 1s ease;
		z-index: -1;
	}
	.btn:hover {
		color: white;
	}
	.btn:hover::before {
		width: 100%;
	}
}

.btn-three {
	.btn {
		border: none;
		width: 53%;
		height: 30%;
		font-size: 1rem;
		border-radius: 5px;
		font-weight: bold;
		cursor: pointer;
		background: linear-gradient(to left, #c2649a, #e4c7b7);
		transition: all 1s ease-in-out;
	}
	.btn:hover {
		font-size: 1.2rem;
	}
}
.btn-four {
	.btn {
		border: none;
		width: 52%;
		height: 32%;
		font-size: 1rem;
		transition: all 3s ease;
		background: #183153;
		color: white;
		border-radius: 5px;
		font-weight: bold;
		cursor: pointer;
		position: relative;
		z-index: 1;
		overflow: hidden;

		&::before {
			content: "";
			top: 0;
			right: 0;
			width: 0%;
			height: 100%;
			background: #ffd401;
			position: absolute;
			transition: all 0.4s ease-in-out;
			z-index: -1;
		}

		&:hover::before {
			left: 0;
			width: 100%;
		}
	}
}
.btn-five {
	.btn {
		border: none;
		width: 50%;
		height: 30%;
		font-size: 1rem;
		transition: all 3s ease;
		background: #183153;
		color: white;
		border-radius: 5px;
		font-weight: bold;
		cursor: pointer;
		position: relative;
		z-index: 1;
		overflow: hidden;
		transition: all 1s ease;
	}
	.btn:hover {
		animation: scaleUp 1s ease-in-out;
	}
	.btn:active {
		font-size: 50px;
	}
}
@keyframes scaleUp {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.85);
	}

	100% {
		transform: scale(1);
	}
}
.btn-six {
	background: #222;
	.btn {
		font-size: 17px;
		background: transparent;
		border: none;
		padding: 1em 1.5em;
		color: #ffedd3;
		text-transform: uppercase;
		position: relative;
		transition: 0.5s ease;
		cursor: pointer;
		z-index: 1;
	}
	.btn::before {
		content: "";
		position: absolute;
		height: 2px;
		bottom: 0;
		left: 0;
		width: 0%;
		background-color: #ffc506;
		transition: all 0.5s ease;
		z-index: -1;
	}
	.btn:hover::before {
		width: 100%;
	}
	.btn:hover {
		color: #1e1e2b;
		transition-delay: 0.5s;
	}
	.btn::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0%;
		background-color: #ffc506;
		transition: 0.5s ease;
		z-index: -1;
	}
	.btn:hover::after {
		height: 100%;
		transition-delay: 0.4s;
		color: aliceblue;
	}
}
/* Seven */
.btn-seven {
	.btn {
		border: none;
		color: #fff;
		background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
		border-radius: 20px;
		background-size: 100% auto;
		font-family: inherit;
		font-size: 17px;
		padding: 0.6em 1.5em;
	}
	.btn:hover {
		animation: pulse512 5s infinite;
	}
}
@keyframes pulse512 {
	0% {
		box-shadow: 0 0 0 0 #05bada66;
	}

	70% {
		box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
	}

	100% {
		box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
	}
}
