* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--size: 0.625rem;
	/* 
	calc(var(--size)*1)
	*/
}
.Frame_Notification {
	color: black;
	position: relative;
	background: #f7edff;
	align-items: baseline;
	justify-content: left;
	.buttons {
		display: flex;
		margin: calc(var(--size) * 3.125);
	}
	.buttons button {
		background: #333;
		font-size: calc(var(--size) * 1);
		color: #fff;
		border: 0;
		outline: 0;
		width: calc(var(--size) * 7.5);
		height: calc(var(--size) * 2.8);
		margin: calc(var(--size) * 0.3);
		cursor: pointer;
	}
	#toastBox {
		position: absolute;
		bottom: calc(var(--size) * 1.9);
		right: calc(var(--size) * 1.9);
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		overflow: hidden;
		padding: calc(var(--size) * 1.25);
	}
	.toast {
		width: calc(var(--size) * 25);
		height: calc(var(--size) * 5);
		background: #fff;
		font-weight: 500;
		margin: calc(var(--size) * 1) 0;
		box-shadow: 0 0 calc(var(--size) * 1.9) rgba(0, 0, 0, 0.3);
		display: flex;
		align-items: center;
		position: relative;
		font-size: calc(var(--size) * 1);
	}
	.toast i {
		margin: 0 calc(var(--size) * 1.9);
		font-size: calc(var(--size) * 2.15);
		color: green;
	}
	.toast.error i {
		color: red;
	}
	.toast.invalid i {
		color: orange;
	}
	.toast::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: calc(var(--size) * 0.3);
		background: green;
		animation: anim 5s linear forwards;
	}
}
@keyframes anim {
	100% {
		width: 0;
	}
}
.toast.error::after {
	background: red;
}
.toast.invalid::after {
	background: orange;
}
/* 
@media (min-width: 1024px) {
	:root {
		--size: 1rem;
	}
}
@media (min-width: 750px) and (max-width: 1024px) {
	:root {
		--size: 0.8rem;
	}
}
@media (min-width: 400px) and (max-width: 750px) {
	:root {
		--size: 0.625rem;
	}
}
@media (max-width: 400px){
	:root {
		--size: 0.4rem;
	}
} */
